form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-width: 200px;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

h3{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
body
{
    background-image: url(https://s1.1zoom.me/big0/537/Mountains_Forests_460037.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
label{
    text-align: center;
    color: white;
}