body{
    margin: 0;
    min-height: 100vh;
    background-image: url(https://www.xtrafondos.com/descargar.php?id=4052&resolucion=3840x2160);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
}
nav{
    background-color: aliceblue;
}